.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}
.card {
	display: flex;
	width: 700px;
	background-color: white;
	padding: 40px;
}
.right {
	border: 1px solid black;
}
@font-face {
	font-family: MyFont;
	src: url(assets/fonts/Roboto-Regular.ttf);
}
body {
	font-family: MyFont;
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 100vh;
	background-color: hsl(234, 29%, 20%);
}
* {
	box-sizing: border-box;
}
